<!DOCTYPE html>
<html mlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head"></head>

<body>

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form first-stage flex-sb flex-w">
          <span class="login100-form-title p-b-51">Forgot Password</span>


            <div class="flex-sb-m w-full p-t-3 p-b-24">
              <label class="label-forgot">Please enter your email address. We`ll send you a reset code to change your password.</label>
            </div>


            <div class="wrap-input100 validate-input-1 m-b-16" data-validate="E-mail is required">
              <input class="input100" type="email" name="email" placeholder="Your e-mail address"/>
              <span class="focus-input100"></span>
            </div>


            <div class="container-login100-form-btn m-t-17">
              <button class="login100-form-btn">
							Reset My Password
						</button>
            </div>


        </form>

        <form class="login100-form second-stage flex-sb flex-w" style="display:none">
          <span class="login100-form-title p-b-51">Forgot Password</span>


            <div class="flex-sb-m w-full p-t-3 p-b-24">
              <label class="label-forgot">Please enter the reset code that you received by email.</label>
            </div>


            <div class="wrap-input100 validate-input-2 m-b-16" data-validate="Reset code is required">
              <input class="input100" type="text" name="code" placeholder="Reset code"/>
              <span class="focus-input100"></span>
            </div>


            <div class="container-login100-form-btn m-t-17">
              <button class="login100-form-btn">
							Submit
						</button>
            </div>


        </form>

        <form class="login100-form third-stage flex-sb flex-w" style="display: none">
          <span class="login100-form-title p-b-51">Create a New Password</span>


            <div class="flex-sb-m w-full p-t-3 p-b-24">
              <label class="label-forgot">Please enter a new password.</label>
            </div>


            <div class="wrap-input100 validate-input-3 m-b-16" data-validate="Password is required">
              <input class="input100" type="password" name="password" placeholder="New password"/>
              <span class="focus-input100"></span>
            </div>


            <div class="container-login100-form-btn m-t-17">
              <button class="login100-form-btn">
							Submit
						</button>
            </div>


        </form>
      </div>
    </div>
  </div>

  <script th:inline="javascript" th:src="@{'/js/forgot_password.js?ver='+${#calendars.millisecond(#dates.createNow())}}" ></script>

</body>

</html>
