<!DOCTYPE html>
<html mlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title>Forgot Password</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="../static/images/icons/favicon.ico" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <!-- <link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css"> -->
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <!-- <link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css"> -->
  <!--===============================================================================================-->
  <!-- <link rel="stylesheet" type="text/css" href="../staticvendor/daterangepicker/daterangepicker.css"> -->
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../static/css/util.css">
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <!--===============================================================================================-->
</head>

<body>

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form first-stage flex-sb flex-w">
          <span class="login100-form-title p-b-51">Forgot Password</span>


            <div class="flex-sb-m w-full p-t-3 p-b-24">
              <label class="label-forgot">Please enter your email address. We`ll send you a reset code to change your password.</label>
            </div>


            <div class="wrap-input100 validate-input-1 m-b-16" data-validate="E-mail is required">
              <input class="input100" type="email" name="email" placeholder="Your e-mail address">
              <span class="focus-input100"></span>
            </div>


            <div class="container-login100-form-btn m-t-17">
              <button class="login100-form-btn">
							Reset My Password
						</button>
            </div>


        </form>

        <form class="login100-form second-stage flex-sb flex-w" style="display:none">
          <span class="login100-form-title p-b-51">Forgot Password</span>


            <div class="flex-sb-m w-full p-t-3 p-b-24">
              <label class="label-forgot">Please enter the reset code that you received by email.</label>
            </div>


            <div class="wrap-input100 validate-input-2 m-b-16" data-validate="Reset code is required">
              <input class="input100" type="text" name="code" placeholder="Reset code">
              <span class="focus-input100"></span>
            </div>


            <div class="container-login100-form-btn m-t-17">
              <button class="login100-form-btn">
							Submit
						</button>
            </div>


        </form>

        <form class="login100-form third-stage flex-sb flex-w" style="display: none">
          <span class="login100-form-title p-b-51">Create a New Password</span>


            <div class="flex-sb-m w-full p-t-3 p-b-24">
              <label class="label-forgot">Please enter a new password.</label>
            </div>


            <div class="wrap-input100 validate-input-3 m-b-16" data-validate="Password is required">
              <input class="input100" type="password" name="password" placeholder="New password">
              <span class="focus-input100"></span>
            </div>


            <div class="container-login100-form-btn m-t-17">
              <button class="login100-form-btn">
							Submit
						</button>
            </div>


        </form>
      </div>
    </div>
  </div>


  <!-- <div id="dropDownSelect1"></div> -->

  <!--===============================================================================================-->
  <script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <!-- <script src="../static/vendor/animsition/js/animsition.min.js"></script> -->
  <!--===============================================================================================-->
  <script src="../static/vendor/bootstrap/js/popper.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <!-- <script src="../static/vendor/select2/select2.min.js"></script> -->
  <!--===============================================================================================-->
  <!-- <script src="../static/vendor/daterangepicker/moment.min.js"></script> -->
  <!-- <script src="../static/vendor/daterangepicker/daterangepicker.js"></script> -->
  <!--===============================================================================================-->
  <!-- <script src="../static/vendor/countdowntime/countdowntime.js"></script> -->
  <!--===============================================================================================-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.15.1/sweetalert2.all.min.js"></script>
  <!--===============================================================================================-->
  <script src="../static/js/forgot_password.js"></script>

</body>

</html>
